@model IEnumerable<Formularios.Models.Usuario>

@{
    ViewData["Title"] = "Listagem";
}

<h1>Listagem</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
