@model IEnumerable<Formularios.Models.Formulario>

@{
    ViewData["Title"] = "Listagem";
}

<h1>Listagem</h1>

<p>
    <a asp-action="Create">Criar novo formulário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    <a asp-action="CreateQuestion" asp-route-id="@item.Id">Adicionar pergunta</a>
                    <a asp-action="QuestionsById" asp-route-id="@item.Id">Ver Perguntas</a>
                    <a asp-action="Answer" asp-route-id="@item.Id">Responder</a>
                </td>
            </tr>
        }
    </tbody>
</table>
